:root {
    --bg: rgb(16, 16, 16);
    --fg: white;
    --color-red: #c00000;
    --color-green: #008000;
    --color-blue: #0000c0;
    --color-purple: #5a00b4;
    --color-cyan: #00787c;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

body {
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--fg);

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 24px;
    max-width: 800px;
    display: grid;
    grid-template-areas:
        "title title"
        "info image"
        "more_info more_info"
        "footer footer";
    grid-template-columns: 60% 40%;
    gap: 16px;

    > div {
        h2 {
            width: auto;
            margin-bottom: 16px;
        }
    }
}

.inverse {
    background-color: var(--fg);
    color: var(--bg);
}

[class^=color-] {
    padding: 0 2px;
}

.color-red {
    background-color: var(--color-red)
}

.color-green {
    background-color: var(--color-green)
}

.color-blue {
    background-color: var(--color-blue)
}

.color-purple {
    background-color: var(--color-purple)
}

.color-cyan {
    background-color: var(--color-cyan)
}

h1, h2, h3, h4, h5, h6, p {
    padding: 8px;
    margin: 0;
    width: fit-content;
}

p {
    font-size: 1.15em;
}

ul {
    list-style-image: url("../image/books.svg");
    padding-left: 32px;
}

.title {
    grid-area: title;

    h1 {
        text-align: center;
        width: auto;
    }
}

.info {
    grid-area: info;
}

.image {
    grid-area: image;

    img {
        width: 100%;
    }

    .description p {
        text-align: center;
    }
}

.more_info {
    grid-area: more_info;
}

.footer {
    grid-area: footer;
}

.poetry_text {
    span {
        margin: 4px 0;
        display: block;
        width: auto;
        text-align: center;
        font-style: italic;
    }
}